body{
    background-color: rgb(79, 79, 222);
}


    


h2{
    text-align: center;
    background-color: orange;
    border: solid ;
    color: blueviolet;
    
    
    


    
}
h1{
    text-align: center;
    background-color: orange;
    color: blueviolet;
    

}
.boto{
    background-color: orange;
    color: blueviolet;
    border: solid;
    

}
.bota{
    background-color: orange;
    color: blueviolet;
    border: solid;
    

}
.botei{
    background-color: orange;
    color: blueviolet;
    border: solid;
    
}
.botao{
    background-color: orange;
    color: blueviolet;
    border: solid;
    

}

